@charset "UTF-8";
.music {
    width: 450px;
}
body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
ul a li:hover {
    background-color: #3C8FE1;
}
wrapper {
    width: 1366px;
    margin: auto;
    display: block;
    padding: 16px;
    background-color: rgba(255,255,255,0.50);
    background-repeat: no-repeat;
    background-size: 1366px auto;
}
.vid {
    padding-left: 22px;
}
ul a li {
    padding: 10px 25px;
    display: inline-block;
}
nav {
    background-color: #EDBA13;
}
nav ul a {
    color: #F9F3F3;
}
h2 {
    color: #EA3D3D;
}
h3 {
    color: #FAF5F5;
}
h4 {
    color: #F6F1F1;
}
h5 {
    color: #F7F2F2;
}
h1 {
    color: #4C086D;
}
